<app-tabs></app-tabs>
<div class="main-container">
  <app-manager-aside class="aside"
                     (onSelect)="onRecordSelect($event)"
                     [tab]="tab"
                     [dataCollection]="this.recordCollection"
                     [isSavedToasterOn]="isSavedToasterOn">

  </app-manager-aside>
  <app-manager-form class="form"
                    (recordHasBeenChanged)="onRecordChanged($event)"
                    (restoreRecord)="onRecordRestore($event)"
                    (recordSaved)="showSavedToaster($event)"
                    [tab]="tab"
                    [focusedRecord]="selectedRecord" >
  </app-manager-form>
</div>
