<div *ngIf="recordForm" class="form-container">
  <div [formGroup]="recordForm" class="form-group">
    <label for="name_fc">Название</label>
    <textarea [formControl]="nameControl" name="" id="name_fc" class="form-control"></textarea>
    <div *ngIf="!nameControl.valid && !isFormDisabled" class="error-message">В названии нельзя использовать спецсимволы, длина от 3 до 30 символов</div>
    <div *ngIf="nameControl.valid && !isFormDisabled" class="success-message">Название введено верно</div>
    <label for="text_fc">Текст запроса</label>
    <textarea [formControl]="textControl" type="textarea" name="" id="text_fc" class="form-control"></textarea>
    <div class="info-bar">
      <div *ngIf="!textControl.valid && !isFormDisabled" class="error-message">Запрос введен неверно</div>
      <div *ngIf="textControl.valid && !isFormDisabled" class="success-message">Запрос введен верно</div>
      <div *ngIf="!isFormDisabled" class="symbols-left">Осталось {{10000-textControl.value?.length}} символов</div>
    </div>
  </div>
</div>
<div class="bottom-bar">
  <div class="bottom-bar-container">
    <div *ngIf="focusedRecord != null && !isFormDisabled" class="bottom-bar-updated">Применено: {{focusedRecord.last_updated | date: 'dd.MM.YYYY HH:mm'}}</div>
    <div *ngIf="isFormDisabled" class="bottom-bar-updated">Время изменения</div>
    <div class="bottom-bar-buttons">
      <button [ngClass]="{'button-disabled': recordForm.valid !== true}" [disabled]="isFormDisabled" class="cancel-button-bb" (click)="cancelChanges()">Отменить измнения</button>
      <button [ngClass]="{'button-disabled': recordForm.valid !== true}" [disabled]="!recordForm.valid" class="accept-button-bb" (click)="onOkButton()">Применить</button>
    </div>
  </div>
</div>
