.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: flex-start;
  font-family: Verdana;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 12px;
  margin: 0;
  color: #4C88D2;

}

.tab {
  border-bottom: 2px solid #E0E3E8;
  padding-bottom: 1%;

  width: 50%;
}

.active-tab {
  border-bottom: 3px solid #4C88D2;
  border-radius: 2px 2px 0px 0px;
  color: black;
}

.svg-icon {
  width: 14px;
  height: 14px;
}
